<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/home/common-header :: head(~{::title})">
    <title>修改密码</title>
</head>
<style>
    .layui-form-item {
        width: auto;
        padding-right: 10px;
        line-height: 38px;
    }
    body .layuimini-container{
        background-color: #ffffff;
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">旧密码</label>
                <div class="layui-input-block">
                    <input type="password" name="oldPassword" lay-verify="required" lay-reqtext="旧密码不能为空"
                           placeholder="请输入旧密码" value="" class="layui-input">
                    <tip>填写自己账号的旧的密码</tip>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">新密码</label>
                <div class="layui-input-block">
                    <input type="password" name="newPassword" lay-verify="required|newPassword" lay-reqtext="新密码不能为空"
                           placeholder="请输入新的密码" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="againPassword" lay-verify="required|againPassword"
                           lay-reqtext="新的密码不能为空"
                           placeholder="请再次输入新的密码" value="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="saveBtn">确认修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--scripts-->
<div th:replace="admin/home/common-header :: scripts"></div>
<script src="/static/admin/my/js/user/user-password.js"></script>
</body>
</html>