<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理-登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/static/admin/layuimini/images/favicon.ico">
    <link rel="stylesheet" href="/static/admin/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/admin/my/css/login.css">
</head>
<body>
<div class="layui-container">
    <div class="admin-login-background">
        <div class="layui-form login-form">
            <form class="layui-form" id="login-form" action="/admin/login">
                <div class="layui-form-item logo-title">
                    <h1>菜鸟博客后台登录</h1>
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-username"></label>
                    <input type="text" name="username" lay-verify="required|account" placeholder="用户名或者邮箱"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-password"></label>
                    <input type="password" name="password" lay-verify="required|password" placeholder="密码"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input name="verCode" class="layui-input" lay-verify="required" placeholder="验证码" type="text">
                    </div>
                    <div class="layui-input-inline">
                        <img src="/admin/captcha" id="verCodeImg" width="120px" height="48px"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <input type="checkbox" name="remember-me" value="true" lay-skin="primary" title="记住密码" checked>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="login">登 入</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script charset="utf-8" src="/static/admin/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script charset="utf-8" src="/static/admin/layuimini/lib/layui-v2.5.5/layui.js"></script>
<script charset="utf-8" src="/static/admin/layuimini/lib/jq-module/jquery.particleground.min.js"></script>
<script src="/static/admin/my/js/sweetalert2.js"></script>
<script src="/static/admin/my/js/axios-0.19.2.js"></script>
<script src="/static/admin/my/js/home/login.js"></script>
</body>
</html>