<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/home/common-header :: head(~{::title})">
    <title>编辑角色</title>
</head>
<link rel="stylesheet" href="/static/admin/dtree/dtree.css">
<link rel="stylesheet" href="/static/admin/dtree/font/dtreefont.css">
<body style="background-color: #ffffff;">
<form class="layui-form layuimini-form">
    <input type="hidden" name="id"/>
    <div class="layui-form-item">
        <label class="layui-form-label required">角色名称</label>
        <div class="layui-input-block">
            <input type="text" name="roleName" lay-verify="required|roleName" lay-reqtext="角色名称不能为空"
                   placeholder="请输入角色名称"
                   value=""
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="description" class="layui-textarea"
                      placeholder="请输入角色描述" lay-verify="description"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">级别</label>
        <div class="layui-input-block">
            <input type="number" name="rank" placeholder="请输入角色级别" value="" class="layui-input" lay-verify="number|rank"
                   required="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">颜色</label>
        <div class="layui-input-block">
            <div>
                <div id="color-select" lay-verify="colorVer"></div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">权限</label>
        <div class="layui-input-block">
            <div id="treeDiv" style="overflow: auto;" lay-verify="menuTree">
                <ul id="menuTree" class="dtree" data-id="0"></ul>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="saveBtn">确认修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!--scripts-->
<div th:replace="admin/home/common-header :: scripts"></div>
<script src="/static/admin/xm-select/xm-select.js"></script>
<script th:inline="javascript" type="text/javascript">
    let role = [[${role}]];
</script>
<script src="/static/admin/my/js/role/role-edit.js"></script>
</body>
</html>